.opti-financeOptions,
.opti-tradeIn,
.opti-pricePromise {
  text-align: center;

  .opti-panels-accordion {
    &__inner-title {
      font-size: 3.47222vw;
      margin: auto;
      padding: 10px 0;
      font-weight: 700;
      text-align: center;
  
      @media screen and (min-width: 768px) {
        font-size: 2.4444444vw;
      }
  
      @media screen and (min-width: 1440px) {
        font-size: 20px;
      }
    }
  
    &__paragraph,
    &__link,
    .opti-panels-learn-more {
      font-size: 2.4444444vw;
      text-align: center;

      @media screen and (min-width: 768px) {
        font-size: 1.444444vw;
      }
  
      @media screen and (min-width: 1024px) {
        font-size: 16px;
      }
    }

    &__link {
      display: block;
      color: #000;
      margin: 5% 0;

      @media screen and (min-width: 768px) {
        margin: 3% 0;
      }

      @media screen and (min-width: 1024px) {
        margin: 20px 0;
      }
    }
    
    &__disclaimer {
      display: block;
      margin-top: 7%;
      font-size: 2.4444444vw;
      padding: 0 10px;

      @media screen and (min-width: 768px) {
        font-size: 1.11111vw;
        margin-top: 4%;
      }

      @media screen and (min-width: 1024px) {
        font-size: 13px;
        margin-top: 20px;
      }

      &--align-left {
        text-align: left;
      }

      a {
        color: #000;
      }
    }

    &__panels {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
    }
  }

  .opti-tradeIn__video-button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 2.4444444vw;
    margin: 4vw auto;

    &:hover {
      cursor: pointer;
    }

    @media screen and (min-width: 768px) {
      margin: 3vw auto;
      font-size: 1.444444vw;
    }

    @media screen and (min-width: 1440px) {
      margin: 35px auto;
      font-size: 18px;
    }

    span {
      color: #0077c8;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
    }
  }

  .opti-panels-learn-more__container {
    .opti-panels-learn-more {
      color: #000;
    }
  }
}