@use 'components/accordion.scss';
@use 'components/compareTable.scss';
@use 'components/panels';
@use 'components/panelCard.scss';

//Generic styles

.opti__cta-wrapper {
  width: 100%;
  text-align: center;
  padding: 2.5vw 0;

  .opti__cta {
    border: 1px solid #000;
    border-radius: 5.55555556vw;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 2.5vw 6.38888889vw;
    font-size: 2.444444vw;

    &:focus,
    &:active {
      border: 2px dotted #000;
    }

    @media screen and (min-width: 768px) {
      font-size: 1.444444vw;;
      padding: 1.4vw 3vw;
    }

    @media screen and (min-width: 1024px) {
      font-size: 16px;
      padding: 10px 20px;
    }
  }
}
