@use 'components/accordion.scss';
@use 'components/compareTable.scss';

//Generic styles

.opti__cta-wrapper {
  width: 100%;
  text-align: center;
  padding: 2.5vw 0;

  .opti__cta {
    border: 1px solid #000;
    border-radius: 5.55555556vw;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 2.5vw 6.38888889vw;
    font-size: 2.444444vw;
  }
}
